body {
    
}

h1 {
    text-align: center;
}

#board {
    border-collapse: collapse;
    margin: 0 auto;
    width: 640px;    
}

#board tr td {
    background: #CCC;
    border: 1px solid #000;
    height: 80px;
    padding: 0px;
    width: 80px;
}

#board tr:nth-child(2n-1) td:nth-child(2n-1) {
    background: #FFF;
}

#board tr:nth-child(2n) td:nth-child(2n) {
    background: #FFF;
}

/*** BOARD PIECES ***/

#board a {
    display: block;
    height: 80px;
    width: 80px;
}

#board a.black.bishop { background-image: url("../images/black-bishop-80.png"); }
#board a.black.castle { background-image: url("../images/black-castle-80.png"); }
#board a.black.king { background-image: url("../images/black-king-80.png"); }
#board a.black.knight { background-image: url("../images/black-knight-80.png"); }
#board a.black.pawn { background-image: url("../images/black-pawn-80.png"); }
#board a.black.queen { background-image: url("../images/black-queen-80.png"); }
#board a.white.bishop { background-image: url("../images/white-bishop-80.png"); }
#board a.white.castle { background-image: url("../images/white-castle-80.png"); }
#board a.white.king { background-image: url("../images/white-king-80.png"); }
#board a.white.knight { background-image: url("../images/white-knight-80.png"); }
#board a.white.pawn { background-image: url("../images/white-pawn-80.png"); }
#board a.white.queen { background-image: url("../images/white-queen-80.png"); }