body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

/*** GAME PANEL ***/

div#game-panel {

}

div#game-panel.split {
    float: left;
    width: 70%;
}

div#status-bar {
    background-color: #CCC;
    border: 2px solid #999;
    font-weight: bold;
    height: 20px;
    margin: 0 auto 20px auto;
    padding: 5px;
    text-align: center;
    width: 640px;
}

/*** GAME BOARD ***/

table#board {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    width: 700px;    
}

table#board tr td {
    background: #CCC;
    border: 1px solid #000;
    height: 80px;
    padding: 0px;
    position: relative;
    width: 80px;
}

table#board tr td div#selected {
    border: 5px solid #ff0000;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 3;
}

table#board tr th.x-label {
    height: 30px;
}

table#board tr th.y-label {
    width: 30px;
}

table#board tr:nth-child(2n-1) td:nth-child(2n-1) {
    background: #FFF;
}

table#board tr:nth-child(2n) td:nth-child(2n) {
    background: #FFF;
}

/*** BOARD PIECES ***/

table#board a.piece {
    display: block;
    height: 80px;
    scroll-padding-left: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 1;
}
table#board a.piece.human {
    cursor: pointer;
}

table#board a.availableMove {
    background-color: #ff0000;
    cursor: pointer;
    display: block;
    height: 80px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 2;
}

table#board a.black.bishop { background-image: url("../images/black-bishop-80.png"); }
table#board a.black.rook { background-image: url("../images/black-rook-80.png"); }
table#board a.black.king { background-image: url("../images/black-king-80.png"); }
table#board a.black.knight { background-image: url("../images/black-knight-80.png"); }
table#board a.black.pawn { background-image: url("../images/black-pawn-80.png"); }
table#board a.black.queen { background-image: url("../images/black-queen-80.png"); }
table#board a.white.bishop { background-image: url("../images/white-bishop-80.png"); }
table#board a.white.rook { background-image: url("../images/white-rook-80.png"); }
table#board a.white.king { background-image: url("../images/white-king-80.png"); }
table#board a.white.knight { background-image: url("../images/white-knight-80.png"); }
table#board a.white.pawn { background-image: url("../images/white-pawn-80.png"); }
table#board a.white.queen { background-image: url("../images/white-queen-80.png"); }

/*** DEBUG PANEL ***/

div#debug-panel {
    background-color: #ddd;
    box-sizing: border-box;
    display: none;
    height: 100%;
    padding: 10px;
}

div#debug-panel h2 {
    margin: 0 auto;
}

div#debug-panel.split {
    float: right;
    width: 30%;
}

div#debug-options {
}

div#debug-log {
    background-color: #eee;
    border: 1px solid #000;
    font-family: monospace;
    height: 500px;
    padding: 5px;
    overflow: auto;
}